/* line 1, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
html, body {
  margin: 0;
  padding: 0;
  font-family: Tahoma, Arial, sans-serif;
  position: relative;
}

/* line 8, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
body {
  padding: 0 0 40px;
  color: #333;
  background: #f9f9f9;
}

/* line 14, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
h1, h2, h3, h4 {
  font-family: monospace;
  font-weight: 300;
  color: #274555;
}

/* line 20, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
h2, label {
  padding-left: 5px;
}

/* line 25, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
header {
  background: #274555;
  border-bottom: 5px solid #ff7761;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.6);
}

/* line 31, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
nav {
  padding: 15px;
  margin: 0 auto;
  max-width: 800px;
  position: relative;
}

/* line 38, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
nav #menu {
  margin-top: 20px;
  float: right;
}

/* line 43, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
a {
  text-decoration: none;
  color: #ff7761;
  padding-left: 5px;
}

/* line 49, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
#menu li {
  float: left;
  margin: 0 10px;
}

/* line 54, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
#menu li a, #logout {
  background: transparent;
  cursor: pointer;
  border: 0;
  font-size: 16px;
  display: inline-block;
  color: #fff;
  text-align: center;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  text-decoration: none;
}

/* line 68, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
#logo {
  max-height: 50px;
}

/* line 72, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
#loggedUser {
  top: 15px;
  right: 35px;
  position: absolute;
  color: #fff;
  font-size: 12px;
}

/* line 80, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 15px;
}

/* line 86, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
#content {
  /*     padding: 10px; */
  background: #eeeeee;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
}

/* line 92, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  text-align: center;
  background: #fff;
  border-top: 1px solid #f9a11b;
  font-size: 14px;
}

/* line 105, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
nav ul, nav li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* Needlessly fancy menu hover effect */
/* line 112, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
#menu li {
  position: relative;
}

/* line 116, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
#menu li a::after, #logout:after {
  position: absolute;
  top: 28px;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
  content: '';
  opacity: 0;
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, transform 0.3s;
  -webkit-transform: translateY(10px);
  transform: translateY(10px);
}

/* line 132, C:/Sites/daily_routine/app/assets/stylesheets/primary.css.scss */
#logout:hover::after, #logout:focus::after, #menu li a:hover::after,
#menu li a:focus::after {
  opacity: 1;
  -webkit-transform: translateY(0px);
  transform: translateY(0px);
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 * require_tree .


 */

