/* Colors */
$black: #17202A;
$white: #FFFFFF;
$orange: #f9a11b;
$gray: #e9e9e9;
$red: #AA0000;
$white_gray: #f9f9f9;
$dark_blue: #274555;
$light_black: #2C3E50;
$light_blue: #6c9fbb;
$light_pink: #ff7761;
$light_gray: #babdb6;
$green_fill: #5cb85c;
$green_border: #4cae4c;
$green_hover: #449d44;
$red_fill: #d9534f;
$red_border: #d43f3a;
$red_hover: #c9302c;
$blue_fill: #729fcf;
$blue_border: #3465a4;
$blue_hover: #3465a4;
$sans_serif: Tahoma, Verdana,Helvetica, sans-serif;
$monospace: monospace;
